<banner>
  <div class="banner-wrapper">
    <div class="banner-copy">
      <h1>Le Wagon Bootcamp</h1>
      <h2><span data-controller="typed-js"></span></h2>
      <%# <h2 data-controller="typed-js">Change your life, learn to code.</h2> %>
      <p>Join our immersive courses in web development and data to transform your career and access new opportunities.</p>
      <%= link_to "Browse Courses", "#", class: "button-red" %>
    </div>
    <%= image_tag('banner-img') %>
  </div>
</banner>

<div class="mt-5">
  <h3>About Le Wagon</h3>
  <% 100.times do %>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus explicabo expedita iusto atque tenetur incidunt voluptates hic? Maxime corporis delectus, animi odio alias incidunt accusamus similique praesentium rem numquam veritatis!</p>
  <% end %>
</div>