.banner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10vh;

  img {
    width: 40%;
  }
}

.banner-copy {
  width: 60%;

  p {
    padding: 16px 0;
    width: 60%;
  }

  h1 {
    color: black;
  }

  h2 {
    color: $LWblue;
  }

  h1, h2 {
    font-weight: 700;
  }
}